p{
    color: rgb(0,245,255);
    background-color: #164112;
    width: 500pt;
    outline: 1px solid #0404e0
}
img{
    height: 200px;
}
h1{
    border: 5px dashed #e00404;
    width: 200px;
}
h3{
    padding: 20px;
   background-color: #e0e0ea;
   outline: 1px solid #000000;
}
th{
    outline: 3px solid #000000;
    font-size: 16pt;
    width: 150pt;
}
td{
    outline: 1px solid #000000
}
li{
    font-size: 12pt;
    font-family: arial, verdana, sans-serif;
    border-left: 3px solid #0404e0;
    font-weight: bolder;
    font-style: italic;
}
